#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=Game
Name=Minecraft Bedrock
Exec=/home/$USER/.apps/Bedrock.AppImage
Icon=minecraft-bedrock.svg
